/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #fff;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #000000;
  text-shadow: none;
}

::selection {
  background: #000000;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #fff;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   */
   html, body, div, span, applet, object, iframe,
   h1, h2, h3, h4, h5, h6, p, blockquote, pre,
   a, abbr, acronym, address, big, cite, code,
   del, dfn, em, img, ins, kbd, q, s, samp,
   small, strike, strong, sub, sup, tt, var,
   b, u, i, center,
   dl, dt, dd, ol, ul, li,
   fieldset, form, label, legend,
   table, caption, tbody, tfoot, thead, tr, th, td,
   article, aside, canvas, details, embed,
   figure, figcaption, footer, header, hgroup,
   menu, nav, output, ruby, section, summary,
   time, mark, audio, video {
   	margin: 0;
   	padding: 0;
   	border: 0;
   	font-size: 100%;
   	font: inherit;
   	vertical-align: baseline;
   }
   /* HTML5 display-role reset for older browsers */
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {
   	display: block;
   }
   body {
   	line-height: 1;
   }
   ol, ul {
   	list-style: none;
   }
   blockquote, q {
   	quotes: none;
   }
   blockquote:before, blockquote:after,
   q:before, q:after {
   	content: '';
   	content: none;
   }
   table {
   	border-collapse: collapse;
   	border-spacing: 0;
   }

   * {
   	-webkit-box-sizing: border-box;
   	-moz-box-sizing: border-box;
   	box-sizing: border-box;
   }

   /** Clearfix **/
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
   	 table-layout: fixed;
    }

    .clearfix:after {
        clear: both;
    }
/** end CSS reset **/

/* General Styles */

html {
  font-size: 16px;
}

body {
  background-color: #000;
  color: #fff;
	font-size: 16px;
	font-size: 1em;
	line-height: 1.875;
	font-family: 'Eurostile', Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 0.1em;
  height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
}
header,
footer,
section,
aside,
time,
article {
	display: block;
}
a {
	text-decoration: none;
}
b,
strong {
	font-weight: bold;
	font-weight: 700;
}
dfn,
cite,
em,
i {
	font-style: italic;
}
p {
	font-size: 16px;
	font-size: 1em;
	line-height: 1.875;
	font-family: 'Eurostile', Arial, sans-serif;
	font-weight: normal;
	letter-spacing: 0.1em;
}
h1,
h2,
h3,
h4,
h6 {
	/*margin: 2em 0 .5em;*/
	font: 700 1em/1.875 'Eurostile', Arial, sans-serif;
	letter-spacing: 0.1em;
  margin: 0;
}
h1 {
	font-size: 40px;
	font-size: 2.5em;
	/*line-height: 3.40;*/
	letter-spacing: 0.13em;
	text-transform: uppercase;
}
h2 {
	font-size: 30px;
	font-size: 1.875em;
	font-weight: bold;
	line-height: 1.67em;
	letter-spacing: 0.2em;
}
h3 {
  font-size: 22px;
	font-size: 1.375em;
	font-weight: bold;
	color: #FB0404;
	line-height: 2em;
	letter-spacing: 0.2em;
}
h4 {
  font-size: 18px;
	font-size: 1.125em;
	line-height: 2.5em;
}
h5, article ul {
	 margin: 1.5em 0 0;
	 font-size: 16px;
	 font-size: 1em;
	 font-weight: lighter;
	 line-height: 1.875em;
	 text-transform: none;
	 letter-spacing: 0.1em;
}
h6 {
		font-size: 12px;
		font-size: 0.75em;
}
ul {
	list-style-type: none;
	margin: 1em auto;
  padding: 0;
}

address {
  font-style: normal;
}

figure, img {
	max-width: 100%;
	height: auto;
  margin: 0;
}
iframe {
	width: 100%;
}
input {
	font: .875em 'Eurostile', Arial, sans-serif;
	line-height: 2;
	height: 2.3125em;
	border: 1px solid #BFBFBF;
	margin: 0;
	padding: 0.3em 0.625em;
	background: #fff;
	vertical-align: middle;
}
input[type=button],
input[type="submit"],
.footer-form button {
	font: 700 .875em/3.5 'Eurostile', Arial, sans-serif;
	color: #fff;
	background: #000;
	border: none;
	padding: 0 2em;
}
button,
html input[type=button],
input[type="reset"],
input[type="submit"],
.footer-form button {
	cursor: pointer;
}
.is-style-outline>.wp-block-button__link:not(.has-text-color), .wp-block-button__link.is-style-outline:not(.has-text-color){
	color: #fff;
}

/* Links
--------------------------------------------- */
a {
	color: #fff;
  text-decoration: none;
}

.ant-button a {
  width: 100%;
  font: 700 .875em/3.5 'Eurostile', Arial, sans-serif;
  border: 2px solid;
  border-color: #fff;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
  display: flex;
  line-height: 1.75;
  padding: 1.25em 1.875em 1.25em 1.875em;
  margin: 3.6em 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

/*a:visited {
	color: #AFAFAF;
}*/

a:focus,
a:active {
	color: #AFAFAF;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/* Forms
--------------------------------------------- */
button,
input[type=button],
input[type="reset"],
input[type="submit"],
.footer-form button {
	border: 2px solid;
	border-color: #fff;
	border-radius: 0;
	background: transparent;
	color: #fff;
	line-height: 1;
	padding: 0.6em 1em 0.4em;
  min-width: 40%;
}

button:hover,
input[type=button]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,{
	border-color: #000000;
}

button:active,
button:focus,
input[type=button]:active,
input[type=button]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #AFAFAF;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #AFAFAF;
  background-color: transparent;
  border: 2px solid;
	border-color: #fff;
  text-align: left;
  font-size: 18px;
  font-size: 1.125em;
  line-height: 2.5;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 1.875em 0 1.875em 1.25em;
  width: 100%;
}

textarea {
  resize: none;
  padding: 0.9375em 0 0 1.25em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #fff;
}

input[type=text] {
  box-sizing: border-box;
  width: 100%;
}

input[type=button], .footer-form button {
  width: 100%;
  padding: 1.25em 1.875em 1.25em 1.875em;
  margin: 3.6em 0;
  background-color: transparent;
  font-weight: 500;
  color: #fff;
  border: 2 #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}

select {
	border: 1px solid #AFAFAF;
}

.content-wrapper {
  padding: 6.25em 0 3.125em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

/*--------------- Base Header - Footer Styles ---------------*/
header,
footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/* Header */

header {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: auto;
  min-height: 667px;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 1.25em 2.5em;
  overflow-x: hidden;
}

/*Header Slideshow Styles*/

.cb-slideshow,
.cb-slideshow:after {
    position: absolute;
    width: 100%;
    min-height: 667px;
    top: 0px;
    left: 0px;
    z-index: 0;
    margin: 0;
    overflow: hidden;

}
.cb-slideshow:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 668px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.cb-slideshow li span {
    width: 120%;
    height: 667px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 0%;
    background-repeat: none;
    color: transparent;
    display: flex;
    align-items: center;
    padding: 1.25em 2.5em;
    overflow: hidden;
    opacity: 0;
    z-index: 0;
    transform: scale(1.2);
    animation: imageAnimation 24s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url('../img/red-car-side-view-crop.jpg');
    animation-delay: 0s;
}
.cb-slideshow li:nth-child(2) span {
    background-image: url('../img/yellow-car-side-view-crop.jpg');
    animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url('../img/white-car-side-view-crop.jpg');
    animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url('../img/black-car-graffiti-wall-crop.jpg');
    animation-delay: 18s;
  }

@keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
    }
    13% {
      opacity: 1;
      animation-timing-function: ease-out;
    }
    26% {
      opacity: 1;
    }
    35% {
      opacity: 0;
      transform: scale3d(1.25, 1.25, 1.25) translate3d(-115px, 0px, 0px);
    }
    100% {
      opacity: 0;
      transform: scale3d(1.25, 1.25, 1.25) translate3d(-115px, 0px, 0px);
    }

    .no-cssanimations .cb-slideshow li span {
    	opacity: 1;
    }

}

.no-cssanimations .cb-slideshow li span{
	opacity: 1;
}

/*end Header Slideshow styles*/


nav {
  width: 90%
}
/*.navbar {
  width: 175px;
  height: 400px;
  background-color: #222;
  position: fixed;
  top: 0;
  right: -400px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 10px;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}*/

.navbar {
  width: 100%;
  height: 100%;
  background-color: #222;
  opacity: 85%;
  position: fixed;
  top: 0;
  right: -133%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 3.125em;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
  overflow-x: hidden;
  z-index: 3;
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 2.1875em;
  height: 1.875em;
  position: absolute;
  top: 15%;
  right: 7%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  z-index: 4;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.6s;
  z-index: 3;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
  opacity: 0;
}

.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
  text-align: center;
}

.nav-item {
  list-style: none;
  margin: 1.5625em;
}

.nav-link {
  text-decoration: none;
  font-size: 2.5em;
  color: #fff;
  font-weight: normal;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
  content:"";
  width: 100%;
  height: 1px;
  background-color: #FB0404;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
}

.nav-link::after {
  bottom: 0;
  transform-origin: right;
}

.nav-link::before {
  top: 0;
  transform-origin: right;
}

.navbar.nav-link:hover::before,
.navbar.nav-link:hover::after {
  transform: scaleX(1);
}

.ant-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.ant-header .ant-logo-main {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    order: 2;
    margin-top: 2.5em;
    max-width: 100px;
    z-index: 2;
}

header .ant-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  order: 1;
  margin-left: 0.1em;
  margin-right: -0.1em;
}

.site-title a {
  width: 50%;
  display: flex;
  margin: 0 auto;
}

.site-title img {
  display: flex;
  align-self: flex-start;
  z-index: 2;
}

/* Hero Area */

.hero-area {
  width: 100%;
  margin: 0;
  order:3;
  z-index: 2;
}

  header .content-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

.hero-area h3 {
  text-transform: uppercase;
  margin: 3.75em 0 3.75em 0;
  text-align: center;
}

.header-callouts {
  order: 4;
  text-align: center;
  font-size: .75em;
  z-index: 2;
}

/* Footer */

footer {
  text-align: center;
  flex-direction: column;
}

.footer-column-one, .footer-column-two, .footer-column-three, .footer-hours, .footer-address, .logo-contact-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

footer .content-wrapper {
  width: 85%;
  padding-top: 4.375em;
}

.footer-logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

#services-page-footer #bbb-logo {
}

.ant-logo-footer {
  width: 50%;
  margin-bottom: 2.75em;
}

footer h3, footer h4 {
  text-transform: uppercase;
  margin: 0;
}

footer h4  {
  line-height: 2.5em;
  font-weight: normal;
}

.footer-column-one h4 {
  line-height: 3.125em;
}

.footer-column-one {
  margin-bottom: 2.5em;
}

address, .social-icons {
  margin-bottom: 2.5em;
}

address h4, .footer-hours h4 {
  text-transform: none;
  font-size: 1.125em;
}

.footer-hours {
  margin-bottom: 3.75em;
}

.footer-divider {
  width: 3.75em;
  height: 2px;
  background-color: #fff;
  margin: 0.9375em 0 0.3125em 0;
}

footer .social-icons, footer .services-social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  order: 1;
  width: 100%;
}

footer .social-icons a, footer .services-social-icons a {
  font-size: 3em;
  color: #FB0404;
}

footer .footer-form {
  order: 3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column wrap;
  text-align: center;
  width: 100%;
}

.footer-form form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-form h3 {
  margin-bottom: 0.91em;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.footer-form input, textarea {
  margin-bottom: 1.5625em;
  font-size: 1em;
}

footer input[type=button], .footer-form button {
  background-color: #FB0404;
  border: none;
  border-radius: 0;
	color: #000;
	line-height: 1;
  min-width: 37%;
  font-size: 1em;
  font-weight: bold;
  width: 50%;
  margin: 0;
}

.ten-percent-off {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB0404;
  border: 2px solid #fff;
  padding: 0.6em 1em;
}

.copyright-divider {
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin: 1.5625em 0;
  }

footer .copyright {
  width: 90%;
  padding-bottom: 1.5625em;
}

footer h5 {
  margin: 0;
}

#bbb-logo {
  margin: 1em auto 4em auto;
}

/*--------------- Mobile styles - Homepage ---------------*/

/* Mission Area */


.mission-area, .about-faq-page, .contact-us-page {
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  justify-content: space-between;
}

.ant-logo-mission {
  width: 40%;
}

.mission-area .mission-intro-line {
  text-transform: uppercase;
  letter-spacing: .20em;
  padding-bottom: 2em;
  font-size: 1em;
}

.mission-area h3, .about-faq-page h3, .contact-us-page h3 {
  text-align: center;
  text-transform: uppercase;
  width: 75%;
  padding: 2.28em 0;
  font-size: 1.25em;
}

.mission-area h4 {
  text-align: center;
  width: 75%;
  line-height: 2.5em;
  font-size: 1em;
}

.mission-area .ant-button {
  padding-top: 3.125em;
}

#mission-button input {
  width: 95%;
  margin: 0 auto;
  display: flex;
  white-space: normal;
  height: auto;
  line-height: 1.75em;
  padding: 1em;

}

.homepage-center-image {
  width: 80%;
  height: 175px;
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin-top: 1.75em;
}

.homepage-center-image img {
    margin: 0;
}

/* Service Packages */

/*.service-packages, .our-story, .testimonials, .lets-connect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}*/

.service-packages, .service-packages-headers h1 {
  width: 90%;
  margin: 0 auto;
}

.service-packages .services-packages-summaries {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto 2.5em auto;
  width: 90%;
}

.service-packages-headers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

.service-packages h1 {
  color: #FB0404;
  margin-bottom: 1.25em;
  text-align: center;
  font-size: 35px;
  font-size: 2.1875em;
}

.service-packages p, .our-story p {
  margin: 0;
  text-align: center;
  font-weight: bold;
  padding: 0 3.125em 3.125em 3.125em;
  line-height: 2em;
  text-transform: uppercase;
}

.service-packages article {
  margin: 1.875em 0;
  text-align: center;
}

.service-packages h3 {
  text-transform: uppercase;
  font-size: 1.25em;
}

.service-packages .services-packages-summaries span {
  font-size: .75em;
  letter-spacing: .1em;
  text-transform: lowercase;
}

article ul {
	margin: 1em 1em 1em 0;
  padding: 0;
}


/* Our Story */


.our-story h1 {
  color: #FB0404;
  text-align: center;
  margin-bottom: 1.5em;
}

.our-story p {
  margin-bottom: 3.125em;
}

.stats article {
  margin-bottom: 6.25em;
}

.stats h1 {
  color: #5D5D5D;
  padding-bottom: 0;
  margin-bottom: .25em;
  font-size: 60px;
  font-size: 3.75em;
  line-height: normal;
}

.stats h4 {
  padding-top: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
}

.our-story input[type=button] {
  margin-top: 0;
}

/* Testimonials */

.testimonials {
  width: 100%;
  height: auto;
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
    ),
    url('../img/engine-002.jpg')center no-repeat;
  background-size: cover;
  background-position: 53% 47%;
  min-height: 1225px;
  padding: 0 2.5em 3.125em 2.5em;
  overflow-x: hidden;
  position: relative;
}

.testimonials .content-wrapper {
  padding-bottom: 0;
}

.testimonials .rating-stars {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.rating-stars i {
  color: #FB0404;
  font-size: 1.75em;
  margin: 0 8px;
}

.testimonials h1 {
  margin-bottom: 1.6875em;
  line-height: 1.35em;
  text-align: center;
}

.testimonials-divider {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-bottom: 3.125em;
}

.customer-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.testimonials h2 {
  width: 80%;
  margin: 1.34em auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
}

.testimonials p {
  text-align: center;
  margin: 0;
}


/* Slides */
article.testimonialQuote {
  text-align: center;
}

#slideshow-arrows {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  position: absolute;
  top: 28.125em;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: relative;
  top: 50%;
  width: auto;
  margin-top: -1.875em;
  padding: 1em;
  color: #888;
  font-weight: bold;
  font-size: 1.25em;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: relative;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  margin: 3em auto 0 auto;
  position: absolute;
  bottom: 5em;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 .5em;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #717171;
}

/* Aside */

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: #fff;
  min-height: 635px;
  padding: 0 1.875em;
}

.lets-connect .content-wrapper {
  padding-top: 5em;
  background-color: #fff;
}

aside .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.form {
  width: 100%;
}

aside h1 {
  color: #000;
  text-align: center;
  line-height: 1.35em;
  margin-bottom: 2em;
}

.lets-connect input[type="email"] {
  text-align: center;
  padding: 0;
  font-size: 1.375em;
  border: none;
}

.lets-connect-divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin-bottom: 1.25em;
}

aside h4 {
  color: #FB0404;
  letter-spacing: 0.17em;
  text-align: center;
}

.alt-button {
  width: 56%;
}

aside .alt-button input {
  background-color: #000;
  border: none;
  padding-top: 1.7em;
  padding-bottom: 2.6em;
}

/*Homepage Slideshow Styles*/


.css-slideshow {
  position: relative;
  max-width: 80%;
  max-height: 175px;
  overflow: hidden;
  margin: 1.5625em auto 0 auto;
}

.css-slideshow:after {
  content: "";
  display: table;
  clear: both;
}
.css-slideshow figure {
  width: 100%;
  height: auto;
  margin: 0;
  background: #000;
  float: left;
  margin-left: -100%;
  transform: translate3d(100%, -10%, 0);
  opacity:0;
  animation: xfade 25s linear infinite;
}
}

#logo-slide {
  transform: translate3d(100%, -5%, 0);
}

figure:nth-child(1) {
  animation-delay: 0s;
}
figure:nth-child(2) {
  animation-delay: 5s;
}
figure:nth-child(3) {
  animation-delay: 10s;
}
figure:nth-child(4) {
  animation-delay: 15s;
}

figure:nth-child(5) {
  animation-delay: 20s;
}

@keyframes xfade {
  0%{
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  26%{
    opacity: 1;
  }
  39% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.no-cssanimations .css-slideshow figure {
	opacity: 1;
}

/* ==========================================================================
   Services Page
   ========================================================================== */

   /* Header */

#services-page-container {
     width: 100%;
     height: auto;
     background: linear-gradient(
       rgba(0, 0, 0, 0.6),
       rgba(0, 0, 0, 0.6),
       rgba(0, 0, 0, 0.6)
       ),
       url('../img/cobalt-car-side-view-rotated.jpg')center no-repeat;
     background-size: cover;
     background-position: 55% 0%;
     min-height: 667px;
     display: flex;
     align-items: center;
     flex-flow: column wrap;
     justify-content: space-between;
     padding: 1.25em 2.5em;
     overflow-x: hidden;
   }

  .hero-area-sub-page {
     display: flex;
     flex-flow: row wrap;
     order: 3;
   }

  .hero-area-sub-page h4 {
    font-weight: normal;
    line-height: 2em;
  }

    /* Spa Inspired Packages */

  #service-packages-services-page {
    width: 90%;
  }

  #service-packages-services-page .content-wrapper {
    padding-top: 0;
  }

  .services-divider {
    width: 60%;
    height: 2px;
    background-color: #FB0404;
    margin-bottom: 6.25em;
  }

  #service-packages-services-page article, services-social-icons article {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }

  #service-packages-services-page article {
    margin: 0 auto 6.25em auto;
  }

  #packages-summaries-services-page article {
    margin: 0 auto 5.5em auto;
  }

  .service-package-image-container {
    max-width: 90%;
    max-height: 363px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 3em auto;
  }

  .service-package-image img {
    object-fit: cover;
    object-position: center;
    width: auto;
    min-height: 375px;
    display: block;
  }

  #service-package-1-image-position img {
    object-position: 43% 0%;
  }

  #service-package-3-image-position img {
    object-position: 75% 0%;
  }

  #service-package-4-image-position img {
    object-position: 10% 0%;
  }

  #service-package-5-image-position img {
    object-position: 73% 0%;
  }

  .services-text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .spa-service-packages h1 {
    font-size: 35px;
    font-size: 2.1875em;
    line-height: 1.5em;
    margin-bottom: .5em;
    text-align: center;
    text-transform: capitalize;
  }

  #spa-header h1, #add-ons-header h1 {
    color: #fff;
    width: 60%;
    padding-bottom: 2.5em;
    margin: 0 auto;
  }

  .services-text h3 {
    line-height: 1.75em;
    text-align: center;
    text-transform: capitalize;
    margin: 1em auto;
  }

  .services-text h5, .services-text ul {
    text-align: center;
    margin: 1em auto 0 auto;
  }

  h5.car-dropoff-note {
    margin-top: 0;
  }

  .bold-list-item {
    font-weight: bold;
    margin-bottom: 1em;
  }

  #packages-summaries-services-page h3 {
    margin-top: 0;
  }

  #mission-button {
    width: 90%;
    display: flex;
    justify-content: center;
  }

  article#last-services-page-article{
    margin-bottom: 3em;
  }

  footer .social-icons, footer .services-social-icons {
    margin-bottom: 0;
    margin-top: 1em;
  }

 #services-page-footer.content-wrapper {
    padding-bottom: 0;
  }

  #bbb-logo-subpage {
    margin: 2em auto 0 auto;
    order: 3;
  }


/* ==========================================================================
   About Page
   ========================================================================== */

   #about-page-container {
        width: 100%;
        height: auto;
        background: linear-gradient(
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6),
          rgba(0, 0, 0, 0.6)
          ),
          url('../img/garage-003-crop.jpg')center no-repeat;
          background-size: cover;
          background-position: 80% 0%;
          min-height: 667px;
          display: flex;
          align-items: center;
          flex-flow: column wrap;
          justify-content: space-between;
          padding: 1.25em 2.5em;
          overflow-x: hidden;
        }

        .hero-area-about-page {
          display: flex;
          flex-flow: row wrap;
          width: 100%;
          justify-content: center;
          margin: 1em auto 15em auto;
          order: 3;
        }

        .hero-area-about-page h1 {
          padding-left: .5em;
        }

        /* ==========================================================================
           About Page
           ========================================================================== */

           #contact-page-container {
                width: 100%;
                height: auto;
                background: linear-gradient(
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0.6),
                  rgba(0, 0, 0, 0.6)
                  ),
                  url('../img/white-mercedes-front-crop.jpg')center no-repeat;
                  background-size: cover;
                  background-position: center;
                  min-height: 667px;
                  display: flex;
                  align-items: flex-start;
                  flex-flow: column wrap;
                  justify-content: space-between;
                  padding: 1.25em 2.5em;
                  overflow-x: hidden;
                }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   These styles override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/

  /* General styles */

input[type=button] {
  font-size: 14px;
  font-size: 0.875em;
  padding: 1.6625em 2.1875em 2.5em 2.1875em;
  margin: 4.2em 0;
}

.footer-form button {
 font-size: 14px;
 font-size: 0.875em;
 padding: 2.25em 0;
}

/* Header */

.container {
  padding: 2.5em 4em;
  min-height: 1024px;
}

.cb-slideshow, .cb-slideshow:after, .cb-slideshow li span {
  min-height: 1024px;
}

.cb-slideshow:after {
  min-height: 1025px;
}

.cb-slideshow li span {
    width: 110%;
}


header .ant-header {
  flex-direction: row;
  justify-content: flex-start;
}

.ant-header .ant-logo-main {
  width: 15%;
  order: 1;
  margin: 1em 0;
}

header .site-title {
  position: absolute;
  width: auto;
  order: 2;
  left: 52%;
  top: 6%;
  transform: translate(-50%);
}

.site-title img {
  margin: 0 auto;
  width: 100%;

}

.hamburger-menu {
  top: 5.5%;
  right: 10%;
}

.navbar {
  justify-content: center;
  z-index: 3;
}

.hero-area {
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-area h3 {
  margin: 0 auto;
  font-size: 30px;
  font-size: 1.875em;
  font-weight: bold;
  color: #FB0404;
  line-height: 1.67em;
  letter-spacing: 0.2em;
}

.header-callouts {
  align-self: flex-start;
}

/* Mission Area */

.ant-logo-mission {
  width: 33%;
}

.mission-area h3, .about-faq-page h3, .contact-us-page h3 {
  width: 80%;
}

.mission-area h4 {
  width: 80%;
}

.mobile-break {
  display: none;
}

.homepage-center-image {
  height: 376px;
  margin: 2.56em 0;
}

#mission-button {
  width: 50%;
}

/* Service Packages */

.service-packages .services-packages-summaries {
  align-items: flex-start;
}

.service-packages h1, .our-story h1 {
  margin-bottom: .875em;
}

.service-packages p, .our-story p {
  padding: 0 5em 3.125em 5em;
  line-height: 2.5em;
}

.service-packages h5 {
  margin-top: .7em;
}

.service-packages article, .our-story article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  flex-basis: 38%;
}

.service-packages article {
  margin: 1.875em auto;
}

#last-article {
  margin-left: 6%;
}

.service-packages input[type=button] {
  padding: 1.8625em 5em 2.7em 5em;
}

/* Homepage Slideshow */

.css-slideshow {
  max-width: 80%;
  max-height: 350px;
  overflow: hidden;
  margin: 6.5625em auto 4em auto;
}

.css-slideshow figure {
  transform: translate3d(100%, -8%, 0);
}

#logo-slide {
  transform: translate3d(100%, -11%, 0);
}

/* Our Story */

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 0;
}

.stats h1 {
  margin-bottom: .25em;
}

.stats article {
  margin-bottom: 5.875em;
}

/* Testimonials */

.testimonials {
  justify-content: flex-start;
  min-height: 960px;
}

.testimonials-divider {
  width: 23%;
}

.testimonials h1 {
  width: 80%;
}

.testimonials h2 {
  margin: 1.75em auto;
  font-size: 1.875em;
}

.testimonials article {
  width: 70%;
}

.testimonials p {
  line-height: 2em;
}

/* Slides */


article.testimonialQuote {
  width: 80%;
}

.testimonials h2 {
  margin: 1.25em auto;
}

#slideshow-arrows {
  top: 26em;
}

.prev, .next {
  font-size: 2.5em;
}

/* Aside */

aside {
  min-height: 380px;
}

aside .content-wrapper {
  padding: 0;
}

.lets-connect .content-wrapper {
  padding-top: 3.4375em;
}

aside h1 {
  margin-bottom: 1em;
}

.form {
  width: 80%;
}

.lets-connect input[type="email"] {
  text-align: left;
  padding-bottom: .5em;
}

.lets-connect-divider {
  margin-bottom: 0;
}

aside h4 {
  width: 100%;
  letter-spacing: .06em;
  text-align: left;
}

aside input[type=button] {
  margin-top: 3.2em;
}

.alt-button {
  width: 35%;
}

  /* Footer */

footer .content-wrapper {
  width: 100%;
}

.footer-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.footer-column-one, .footer-column-two {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0.5em;
  width: 48%;
  min-height: 564px;
}

.footer-column-two {
  justify-content: flex-start;
}

#bbb-logo {
  margin: 0 auto 2em auto;
}

.footer-column-three {
  flex-basis: 80%;
}

.ant-logo-footer {
  width: 65%;
  margin-bottom: 5em;
}

.footer-address {
  margin-bottom: 3em;
}

.footer-divider {
  margin: 1.5em 0;
}

footer .social-icons, footer .services-social-icons {
  width: 80%;
}

.social-icons p, .services-social-icons p {
  font-size: 1.5em;
}

footer .footer-form {
  width: 90%;
  align-items: flex-start;
}

.footer-form h3 {
  text-align: left;
}

textarea {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}

footer input[type=button], .footer-form button {
  width: 30%;
  margin-left: auto;
}

.ten-percent-off {
  margin-top: 5em;
}


/* ==========================================================================
   Services Page
   ========================================================================== */

   #services-page-container, #about-page-container, #contact-page-container {
     min-height: 1024px;
     padding: 2.5em 4em 1.25em 4em;
   }

   #service-packages-services-page .content-wrapper {
     padding-bottom: 6.25em;
   }

   .hero-area-sub-page {
     padding-bottom: 6.4375em;
   }

   .hero-area-sub-page h4 {
     font-size: 30px;
     font-size: 1.67em;
     width: 90%;
   }

   #spa-header h1,  #add-ons-header h1 {
     padding-bottom: 1em;
     text-align: center;
   }

   #spa-header h1 {
     padding-top: 1.75em;
   }

   .services-divider {
     margin-bottom: 10em;
   }

   #service-packages-services-page article {
     flex-flow: row wrap;
     justify-content: space-between;
     align-items: flex-start;
     width: 90%;
     margin-bottom: 10em;
   }

   .service-package-image-container, .services-text {
     margin: 0;
   }

   .service-package-image-container {
     width: 45%;
     margin-top: .75em;
   }

   .services-text {
     width: 50%;
     padding: 0 1em;
   }

   .text-left-of-image .service-package-image-container {
     order: 1;
   }

   .text-left-of-image .services-text  {
     align-items: flex-start;
   }

   .text-right-of-image .services-text  {
     padding: 0 0 0 1.75em;
     align-items: flex-start;
   }

   .service-package-image img {
     min-height: 375px;
   }

   .spa-service-packages h1, .services-text h3, .services-text h5, .services-text ul {
     text-align: left;
     margin-left: 0;
   }

   .services-text h5, .services-text ul {
     margin: 1em 0 0 0;
   }

   #packages-summaries-services-page {
     display: flex;
     flex-flow: row wrap;
     width: 90%;
   }

   #packages-summaries-services-page article {
     width: 45%;
     margin-bottom: 6.25em;
   }

   #packages-summaries-services-page .services-text {
     width: 100%;
   }

   #packages-summaries-services-page .services-text h3, #packages-summaries-services-page .services-text h5 {
     text-align: center;
   }



/* ==========================================================================
   About Page
   ========================================================================== */

   .hero-area-about-page {
     margin-bottom: 26em;
   }

   .hero-area-about-page h1 {
     padding-left: 1em;
   }


/* ==========================================================================
    FAQ Page
   ========================================================================== */


}


@media only screen and (min-width: 1024px) {
/*iPad Pro styles here*/

/* Homepage Slideshow */

.css-slideshow {
  max-width: 80%;
  max-height: 500px;
  overflow: hidden;
  margin: 6.5625em auto 5em auto;
}

#logo-slide {
  transform: translate3d(100%, -9%, 0);
}

/* Slides */

.testimonials {
  min-height: 900px;
}

}


@media only screen and (min-width: 1200px) {

/*Desktop styles here*/

.content-wrapper {
  max-width: 960px;
  margin: 3.125em auto;
}

body {
  font-size: 16px;
  font-size: 1em;
}

p {
  font-size: 16px;
  font-size: 1em;
}

h1 {
  font-size: 40px;
  font-size: 2.5em;
}

h3 {
  font-size: 30px;
  font-size: 1.67em;
}

h4 {
  font-size: 22px;
  font-size: 1.23em;
}

ul {
  margin: 1em 0 1em 1.125em;
}

/* Header */

.container {
  background-size: 150%;
  background-position: 38% 3%;
  min-height: auto;
  padding: 2.5em 5em;
}

.cb-slideshow,
.cb-slideshow:after, .cb-slideshow li span {
  min-height: 841px;
}


.cb-slideshow li span {
    width: 100%;
}

header .site-title {
  top: 5%;
}

header .site-title a {
  order: 2;
  margin: 0 auto;
}

.navbar {
  order: 3;
}

.nav-list {
  margin: 0;
  padding: 0;
}

.hamburger-menu {
  right: 7%;
}

.header-callouts {
  font-size: 1em;
}

/* Hero */

.hero-area .content-wrapper {
  margin: 3.125em 0;
}

.hero-area h3 {
  font-size: 40px;
  font-size: 2.23em;
}

input[type=button] {
  margin: 3.125em 0;
  padding: 1.9125em 3.25em 2.75em 3.25em;
}

/* Mission Area */

.ant-logo-mission {
    width: 25%;
}
.mission-area h4 {
  width: 85%;
  line-height: 2.25em;
}

.mobile-break {
  display: inline;
}

.mission-area .mission-intro-line {
  letter-spacing: .25em;
  padding-bottom: 2em;
}

.homepage-center-image {
  height: 550px;
}

/* Service Packages */


.service-packages h1 {
  margin-bottom: .5em;
}

.service-packages p, .our-story p {
  font-size: 1.22em;
}

.service-packages .services-packages-summaries {
  justify-content: space-between;
  margin-bottom: 4em;
}

.service-packages article {
  flex-basis: 41%;
  margin-bottom: 2.25em;
}

.service-packages h3 {
  width: 90%;
  font-size: 22px;
  font-size: 1.23em;
}

.service-packages h3, .service-packages h5 {
  text-align: left;
  padding: 0;
}

.service-packages h5, .service-packages ul {
  text-align: left;
  padding: 0;
  margin-left: 0;
  width: 90%;
}

.service-packages input[type=button], .our-story input[type=button] {
  padding: 1.8625em 2em 2.7em 2em;
}

#last-article {
  align-self: flex-start;
  margin-left: 4.5%;
}

/* Homepage Slideshow */

.css-slideshow {
  max-width: 60%;
  max-height: 400px;
  overflow: hidden;
}

#logo-slide {
  transform: translate3d(100%, -14%, 0);
}

/* Our Story */

.our-story .content-wrapper {
  padding: 2.77em 0;
  margin: 5.55em auto;
}

.our-story h1 {
  margin-bottom: 1.25em;
}

.our-story p {
  line-height: 2em;
  padding-bottom: 0;
}

.stats {
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.stats h1 {
  margin-bottom: .2em;
  font-size: 40px;
  font-size: 2.5em;
}

.stats h4 {
  font-size: 18px;
  font-size: 1em;
}

.stats article {
  flex-basis: 21%;
}

/* Testimonials */

.testimonials .content-wrapper {
  margin: 0 auto;
}

.testimonials article {
  width: 83%;
}

.testimonials h1 {
  margin-bottom: 1.25em;
  line-height: 1.75em;
}

.rating-stars i {
  font-size: 2em;
}

.testimonials h2 {
  font-size: 30px;
  font-size: 1.67em;
}

.testimonials p {
  font-size: 22px;
  font-size: 1.22em;
}

/* Slides */

.testimonials {
  min-height: 1000px;
}

#slideshow-arrows {
  width: 80%;
  top: 27em;
}

.prev, .next {
  font-size: 3em;
}

.testimonials h2 {
  font-size: 2em;
}

/* Aside */

.form {
  width: 70%;
}

aside .mobile-break {
  display: none;
}

.alt-button {
  width: 25%;
}


/* Footer */

footer .content-wrapper {
  max-width: 1200px;
  padding: 0;
  margin: 5.55em auto 2.77em auto;
}

.footer-content {
  flex-flow: row nowrap;
  width: 95%;
  align-items: flex-start;
}

.footer-column-one, .footer-column-two {
  flex-basis: 25%;
}

.footer-column-three {
  flex-basis: 40%;
}

.footer-column-two, .footer-column-two address, .footer-hours, .footer-column-three {
  text-align: left;
  align-items: flex-start;
}

.footer-column-two, .footer-column-three {
  margin-top: 1.38em;
}

.footer-column-three {
  margin-right: 1em;
  padding-right: 0.5em;
}

.ant-logo-footer {
  width: 80%;
  margin-bottom: 0;
}

footer h3 {
  font-size: 22px;
  font-size: 1.22em;
}

.footer-column-one h4 {
  line-height: 5em;
}

footer h4, .footer-hours h4, .footer-form input, textarea  {
  font-size: 14px;
  font-size: .875em;
  line-height: 3em;
}

.footer-hours {
  margin-bottom: 0;
}

#bbb-logo {
  margin: 3em auto 0 0;
}

footer .footer-form {
  order: 1;
  margin-bottom: 2em;
}

.ten-percent-off {
  order: 2;
  margin: 2em auto .75em auto;
}

footer .social-icons, footer .services-social-icons {
  order: 3;
  width: 80%;
  margin: 0 auto;
}

.social-icons p, .services-social-icons p {
  font-size: 1em;
}

footer .footer-form {
  width: 100%;
}

footer input[type=button], .footer-form button {
  font-size: .66em;
}

footer h5 {
  font-size: 1em;
}




/* ==========================================================================
   Services Page
   ========================================================================== */

   #services-page-container, #about-page-container, #contact-page-container {
     padding: 2.5em 5em;
     min-height: 871px;
   }

    .hero-area-sub-page h1 {
      width: 100%;
      font-size: 50px;
      font-size: 3.125em;
    }

    .hero-area-sub-page h4 {
      width: 50%;
    }


    #spa-header h1, #add-ons-header h1 {
      width: 100%;
    }

    .services-divider {
      margin-bottom: 8em;
    }

    #services-page-content-wrapper {
      max-width: 1200px;
      width: 90%;
    }

    #service-packages-services-page {
      width: 100%;
    }

    #service-packages-services-page .content-wrapper {
      width: 100%;
      max-width: inherit;
    }

   #packages-summaries-services-page {
     width: 70%;
   }


   #packages-summaries-services-page article {
     width: 35%;
   }

   .service-package-image-container {
     max-height: 600px;
   }

   .service-package-image img {
     min-height: 600px;
   }

   #packages-summaries-services-page .services-text {
     width: 90%;
     padding: 0;
   }

   .text-right-of-image .services-text  {
     padding: 0 0 0 5em;
   }


   #packages-summaries-services-page article.services-text-right {
    justify-content: flex-end;
    }

   #packages-summaries-services-page .services-text h3, #packages-summaries-services-page .services-text h5 {
     text-align: left;
     align-items: flex-start;
   }

   #mission-button {
     width: 60%;
   }

   #mission-button.ant-button a {
     justify-content: center;
     width: 50%;
   }

   .gift-up-target {
     width: 33%;
     margin: 0 auto;
   }

   #services-page-footer .footer-column-one {
     margin-left: 2em;
   }

   #services-page-footer .ant-logo-footer {
     width: 90%;
   }

   #services-page-footer .footer-column-two {
     margin-right: 2.5em;
     margin-left: 2em;
     flex-basis: 33%;
   }

   #services-page-footer .footer-column-three {
     flex-basis: 33%;
   }

   #packages-summaries-services-page footer .social-icons, footer .services-social-icons {
     width: 100%;
     margin: 0;
     justify-content: flex-start;
   }

   #services-page-footer .social-icons p, .services-social-icons p {
     margin-right: 20%;
   }

   .ten-percent-off {
     margin-top: 0;
   }

   #bbb-logo-subpage {
     margin: 3em auto 0 auto;
   }


/* ==========================================================================
   About Page
   ========================================================================== */

   .hero-area-about-page {
     margin-bottom: 20em;
   }


}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
